POSTGRES_PASSWORD=your-super-secret-password
POSTGRES_DB=postgres
POSTGRES_PORT=5432
BTRFS_DEVICE=
BTRFS_MOUNT=/mnt/pgdata
BTRFS_LOOPBACK_SIZE=10G
BTRFS_LOOPBACK_PATH=/var/lib/supabase-branching/btrfs.img
SUPABASE_POSTGRES_REF=develop
IMAGE_NAME=supabase-postgres-branching
IMAGE_TAG=latest
PG_BRANCH_REPO=boltpl81
PG_BRANCH_REV=master
PGHOST=localhost
PGUSER=postgres
